@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Visual Identity */
--midnight-blue: #00010D;
--dark-purple: #1D0F26;
--dark-violet: #3F2259;
--deep-lavender: #63428C;
--lavender-gray: #9475BF;
 /* Other colors */
 --black: #000;
 --white: #fff;
 --off-white: #F0ECE0;
 --primary-font: #F0ECE0;
}

body {
  background-color: var(--midnight-blue);
  color: var(--white);
  font-family: "Khula", sans-serif;
  font-weight: 400;
}

/* variables */
@layer utilities {

.main-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 16px;
}

}

/* Transition animation */
.transition-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
}

.animate-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--dark-violet);
}

.animate-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-violet);
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
}
/* End of Transition Animation */


.flare {
  position: fixed;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999 !important ;
  backdrop-filter: blur(1px);
  background-color: #0000005e;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}